In [1]:
import pandas as pd

In [2]:
games_details = pd.read_csv('data/games_details.csv')
games_details

/var/folders/4h/shhkh6vn1vz6glj1nxj6f_lh0000gn/T/ipykernel_1552/638928476.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv('data/games_details.csv')

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

- Per player per game statistics
- Limit to recent year/years
- Aggregation & averages calculations within a season (up to date of game being studied)
- Does last year's data help predict this years results?

In [3]:
games_og = pd.read_csv('data/games.csv')
games_og = games_og.sort_values(by = 'GAME_DATE_EST', ascending=False).reset_index(drop=True)
games_og

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200472,Final,1610612745,1610612753,2022,1610612745,110.0,0.466,0.647,...,22.0,49.0,1610612753,116.0,0.451,0.697,0.297,19.0,45.0,0
4,2022-12-21,22200476,Final,1610612746,1610612766,2022,1610612746,126.0,0.506,0.913,...,29.0,48.0,1610612766,105.0,0.402,0.759,0.290,25.0,40.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2003-10-07,10300010,Final,1610612764,1610612752,2003,1610612764,104.0,0.506,0.677,...,26.0,45.0,1610612752,86.0,0.380,0.852,0.188,19.0,37.0,1
26647,2003-10-07,10300006,Final,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0
26648,2003-10-07,10300005,Final,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,...,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1
26649,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
26650,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1

- Figure out the best ways to incorporate aggregated games data with games details
- Join data sets or is it possible to apply them to the model separately?

In [4]:
games = pd.read_csv('data/games_data.csv')
games.sort_values(by = 'GAME_DATE_EST', ascending=False).reset_index(drop=True)

,Unnamed: 0,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,...,AWAY_TEAM_FT_PCT_AVG,HOME_TEAM_FG3_PCT_AVG,AWAY_TEAM_FG3_PCT_AVG,DIFF_PTS_AVG,DIFF_AST_AVG,DIFF_REB_AVG,DIFF_WIN_PCT,DIFF_FG_PCT,DIFF_FT_PCT,DIFF_FG3_PCT
0,0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,...,0.717971,0.354800,0.339629,7.571429,0.057143,2.285714,0.314286,0.020400,0.058543,0.015171
1,1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,...,0.759028,0.363632,0.335861,6.122807,1.440058,0.660819,0.138889,0.003167,-0.010712,0.027770
2,12,2022-12-21,22200476,Final,1610612746,1610612766,2022,1610612746,126.0,0.506,...,0.730389,0.367200,0.312528,-1.739683,-1.036508,-1.769048,0.320635,0.020043,0.023411,0.054672
3,3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,...,0.782541,0.376333,0.340216,1.123669,1.780508,-1.943489,0.420147,0.024893,0.038187,0.036117
4,4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,...,0.823941,0.338886,0.365088,-0.415126,-1.935294,1.294958,0.073109,-0.021172,-0.008027,-0.026203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25261,17902,2004-10-22,10400067,Final,1610612762,1610612758,2004,1610612762,103.0,0.507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25262,17898,2004-10-22,10400070,Final,1610612737,1610612748,2004,1610612737,82.0,0.403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25263,17897,2004-10-22,10400069,Final,1610612747,1610612746,2004,1610612747,113.0,0.465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25264,17896,2004-10-22,10400064,Final,1610612744,1610612743,2004,1610612744,86.0,0.405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25265,17903,2004-10-22,10400066,Final,1610612750,1610612752,2004,1610612750,102.0,0.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rankings = pd.read_csv('data/ranking.csv')
rankings

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,0,22013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
210338,1610612738,0,22013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
210339,1610612753,0,22013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
210340,1610612755,0,22013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
210341,1610612749,0,22013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN

- Not organized by game id, can't use

In [6]:
#Seperating seasons and filtering to exclusively regular season
#Manual .iloc calculations looking up the start and end of each season
#test and train data sets exclude appx first 10 games of season for each team, calculation below
#subtract (30/2)*10 = 150 iloc for appx 10 games
games_2017 = games.iloc[5881:7111]
train_2017 = games.iloc[5881:6961]

games_2018 = games.iloc[4503:5733]
train_2018 = games.iloc[4503:5583]

games_2019 = games.iloc[3385:4356]
train_2019 = games.iloc[3385:4206]

games_2020 = games.iloc[2022:3131]

games_2021 = games.iloc[635:1865]

In [7]:
#3 years of combined train data, two separate years of test data
#For prediction, we only keep response HOME_TEAM_WINS, and aggregated stats
train = pd.concat([train_2017, train_2018, train_2019]).iloc[:, 21:]
train.to_csv('data/train.csv')
test1 = games.iloc[2022:2981, 21:]
test1.to_csv('data/test1.csv')
test2 = games.iloc[635:1715, 21:]
test2.to_csv('data/test2.csv')

In [8]:
#ppg = []
#for i in len(one_team):
    #df = one_team.iloc[1:-(i-1)]
    #total_points = sum
    #ppg = one_team.iloc[i,7]

Potential additional variables
- find difference between home and away aggregates
- home win pct
- away win pct
- last 10 win percentage
- starting players aggregate stats
- comparison of starting players ^
- strength of schedule calculation
- individual team home court advantage metric

In [9]:
test1

,HOME_TEAM_WINS,HOME_TEAM_PTS_AVG,AWAY_TEAM_PTS_AVG,HOME_TEAM_AST_AVG,AWAY_TEAM_AST_AVG,HOME_TEAM_REB_AVG,AWAY_TEAM_REB_AVG,HOME_TEAM_WIN_PCT,AWAY_TEAM_WIN_PCT,HOME_TEAM_FG_PCT_AVG,...,AWAY_TEAM_FT_PCT_AVG,HOME_TEAM_FG3_PCT_AVG,AWAY_TEAM_FG3_PCT_AVG,DIFF_PTS_AVG,DIFF_AST_AVG,DIFF_REB_AVG,DIFF_WIN_PCT,DIFF_FG_PCT,DIFF_FT_PCT,DIFF_FG3_PCT
2022,1,98.066667,96.581395,17.444444,20.465116,41.955556,42.046512,0.733333,0.511628,0.462311,...,0.721907,0.397133,0.390628,1.485271,-3.020672,-0.090956,0.221705,0.023683,0.032115,0.006505
2023,1,97.642857,99.136364,23.380952,22.090909,42.190476,39.522727,0.785714,0.386364,0.455357,...,0.747909,0.400833,0.366273,-1.493506,1.290043,2.667749,0.399351,-0.019416,-0.001719,0.034561
2024,1,89.377778,98.568182,21.133333,20.340909,42.733333,37.681818,0.466667,0.363636,0.431311,...,0.776568,0.304511,0.345636,-9.190404,0.792424,5.051515,0.103030,-0.020371,-0.036902,-0.041125
2025,1,98.181818,105.000000,22.363636,27.181818,39.795455,43.454545,0.409091,0.681818,0.455818,...,0.794682,0.334182,0.370864,-6.818182,-4.818182,-3.659091,-0.272727,-0.014818,-0.003318,-0.036682
2026,1,98.800000,91.139535,22.022222,20.720930,39.511111,38.837209,0.377778,0.511628,0.474156,...,0.726047,0.361556,0.352279,7.660465,1.301292,0.673902,-0.133850,0.016621,0.020065,0.009276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,0,102.545455,96.333333,21.181818,18.666667,40.181818,38.750000,0.727273,0.666667,0.410636,...,0.752833,0.348818,0.366500,6.212121,2.515152,1.431818,0.060606,-0.023780,-0.009288,-0.017682
2977,1,97.076923,98.615385,20.769231,18.846154,41.923077,39.461538,0.461538,0.692308,0.435077,...,0.713385,0.282308,0.369538,-1.538462,1.923077,2.461538,-0.230769,-0.039692,0.004769,-0.087231
2978,0,99.700000,111.700000,21.400000,24.100000,40.000000,43.900000,0.500000,0.400000,0.470200,...,0.687300,0.389300,0.331300,-12.000000,-2.700000,-3.900000,0.100000,0.026700,0.070300,0.058000
2979,1,99.916667,96.461538,19.083333,21.461538,39.333333,37.615385,0.500000,0.384615,0.470083,...,0.717154,0.349833,0.338077,3.455128,-2.378205,1.717949,0.115385,0.035391,-0.008987,0.011756
2980,0,102.416667,102.538462,20.833333,21.846154,42.750000,45.769231,0.333333,0.615385,0.458333,...,0.736000,0.342167,0.354769,-0.121795,-1.012821,-3.019231,-0.282051,-0.007359,0.004583,-0.012603

In [10]:
display(test1.isna().sum())

HOME_TEAM_WINS            0
HOME_TEAM_PTS_AVG        15
AWAY_TEAM_PTS_AVG        15
HOME_TEAM_AST_AVG        15
AWAY_TEAM_AST_AVG        15
HOME_TEAM_REB_AVG        15
AWAY_TEAM_REB_AVG        15
HOME_TEAM_WIN_PCT        15
AWAY_TEAM_WIN_PCT        15
HOME_TEAM_FG_PCT_AVG     15
AWAY_TEAM_FG_PCT_AVG     15
HOME_TEAM_FT_PCT_AVG     15
AWAY_TEAM_FT_PCT_AVG     15
HOME_TEAM_FG3_PCT_AVG    15
AWAY_TEAM_FG3_PCT_AVG    15
DIFF_PTS_AVG             18
DIFF_AST_AVG             18
DIFF_REB_AVG             18
DIFF_WIN_PCT             18
DIFF_FG_PCT              18
DIFF_FT_PCT              18
DIFF_FG3_PCT             18
dtype: int64