In [1]:
import pandas as pd
import numpy as np

In [2]:
games_details = pd.read_csv('data/games_details.csv')
games_details.head()

/var/folders/4h/shhkh6vn1vz6glj1nxj6f_lh0000gn/T/ipykernel_1543/3199302104.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv('data/games_details.csv')

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [3]:
games = pd.read_csv('data/games.csv')
games.head()
games.loc[games['REB_away'].isna()].head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
19175,2003-10-24,10300116,Final,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,...,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0
19176,2003-10-24,10300108,Final,1610612737,1610612764,2003,1610612737,NaN,NaN,NaN,...,NaN,NaN,1610612764,NaN,NaN,NaN,NaN,NaN,NaN,0
19177,2003-10-24,10300109,Final,1610612738,1610612751,2003,1610612738,NaN,NaN,NaN,...,NaN,NaN,1610612751,NaN,NaN,NaN,NaN,NaN,NaN,0
19178,2003-10-24,10300113,Final,1610612759,1610612745,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,0
19179,2003-10-24,10300112,Final,1610612749,1610612765,2003,1610612749,NaN,NaN,NaN,...,NaN,NaN,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
games = games[games.SEASON != 2003]

In [5]:
#all NaN values are in 2003, start in 2004
games.sort_values('GAME_DATE_EST', inplace=True)

team_pts = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_pts = row['PTS_home']
        away_team_pts = row['PTS_away']

        if home_team_id not in team_pts:
            team_pts[home_team_id] = {'pts': 0, 'num_games': 0}

        if away_team_id not in team_pts:
            team_pts[away_team_id] = {'pts': 0, 'num_games': 0}

        team_pts[home_team_id]['pts'] += home_team_pts
        team_pts[away_team_id]['pts'] += away_team_pts
        team_pts[home_team_id]['num_games'] += 1
        team_pts[away_team_id]['num_games'] += 1

        if team_pts[home_team_id]['num_games'] > 1:
            home_team_avg_pts = (team_pts[home_team_id]['pts'] - home_team_pts) / (team_pts[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_pts = np.nan

        if team_pts[away_team_id]['num_games'] > 1:
            away_team_avg_pts = (team_pts[away_team_id]['pts'] - away_team_pts) / (team_pts[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_pts = np.nan

        games.loc[index, 'HOME_TEAM_PTS_AVG'] = home_team_avg_pts
        games.loc[index, 'AWAY_TEAM_PTS_AVG'] = away_team_avg_pts

    else:
        current_season = current_season + 1
        team_pts = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_pts = row['PTS_home']
        away_team_pts = row['PTS_away']

        if home_team_id not in team_pts:
            team_pts[home_team_id] = {'pts': 0, 'num_games': 0}

        if away_team_id not in team_pts:
            team_pts[away_team_id] = {'pts': 0, 'num_games': 0}

        team_pts[home_team_id]['pts'] += home_team_pts
        team_pts[away_team_id]['pts'] += away_team_pts
        team_pts[home_team_id]['num_games'] += 1
        team_pts[away_team_id]['num_games'] += 1

        if team_pts[home_team_id]['num_games'] > 1:
            home_team_avg_pts = (team_pts[home_team_id]['pts'] - home_team_pts) / (team_pts[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_pts = np.nan

        if team_pts[away_team_id]['num_games'] > 1:
            away_team_avg_pts = (team_pts[away_team_id]['pts'] - away_team_pts) / (team_pts[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_pts = np.nan

        games.loc[index, 'HOME_TEAM_PTS_AVG'] = home_team_avg_pts
        games.loc[index, 'AWAY_TEAM_PTS_AVG'] = away_team_avg_pts

In [6]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_ast = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_ast = row['AST_home']
        away_team_ast = row['AST_away']

        if home_team_id not in team_ast:
            team_ast[home_team_id] = {'ast': 0, 'num_games': 0}

        if away_team_id not in team_ast:
            team_ast[away_team_id] = {'ast': 0, 'num_games': 0}

        team_ast[home_team_id]['ast'] += home_team_ast
        team_ast[away_team_id]['ast'] += away_team_ast
        team_ast[home_team_id]['num_games'] += 1
        team_ast[away_team_id]['num_games'] += 1

        if team_ast[home_team_id]['num_games'] > 1:
            home_team_avg_ast = (team_ast[home_team_id]['ast'] - home_team_ast) / (team_ast[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_ast = np.nan

        if team_ast[away_team_id]['num_games'] > 1:
            away_team_avg_ast = (team_ast[away_team_id]['ast'] - away_team_ast) / (team_ast[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_ast = np.nan

        games.loc[index, 'HOME_TEAM_AST_AVG'] = home_team_avg_ast
        games.loc[index, 'AWAY_TEAM_AST_AVG'] = away_team_avg_ast

    else:
        current_season = current_season + 1
        team_ast = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_ast = row['AST_home']
        away_team_ast = row['AST_away']

        if home_team_id not in team_ast:
            team_ast[home_team_id] = {'ast': 0, 'num_games': 0}

        if away_team_id not in team_ast:
            team_ast[away_team_id] = {'ast': 0, 'num_games': 0}

        team_ast[home_team_id]['ast'] += home_team_ast
        team_ast[away_team_id]['ast'] += away_team_ast
        team_ast[home_team_id]['num_games'] += 1
        team_ast[away_team_id]['num_games'] += 1

        if team_ast[home_team_id]['num_games'] > 1:
            home_team_avg_ast = (team_ast[home_team_id]['ast'] - home_team_ast) / (team_ast[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_ast = np.nan

        if team_ast[away_team_id]['num_games'] > 1:
            away_team_avg_ast = (team_ast[away_team_id]['ast'] - away_team_ast) / (team_ast[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_ast = np.nan

        games.loc[index, 'HOME_TEAM_AST_AVG'] = home_team_avg_ast
        games.loc[index, 'AWAY_TEAM_AST_AVG'] = away_team_avg_ast

In [7]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_reb = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_reb = row['REB_home']
        away_team_reb = row['REB_away']

        if home_team_id not in team_reb:
            team_reb[home_team_id] = {'reb': 0, 'num_games': 0}

        if away_team_id not in team_reb:
            team_reb[away_team_id] = {'reb': 0, 'num_games': 0}

        team_reb[home_team_id]['reb'] += home_team_reb
        team_reb[away_team_id]['reb'] += away_team_reb
        team_reb[home_team_id]['num_games'] += 1
        team_reb[away_team_id]['num_games'] += 1

        if team_reb[home_team_id]['num_games'] > 1:
            home_team_avg_reb = (team_reb[home_team_id]['reb'] - home_team_reb) / (team_reb[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_reb = np.nan

        if team_reb[away_team_id]['num_games'] > 1:
            away_team_avg_reb = (team_reb[away_team_id]['reb'] - away_team_reb) / (team_reb[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_reb = np.nan

        games.loc[index, 'HOME_TEAM_REB_AVG'] = home_team_avg_reb
        games.loc[index, 'AWAY_TEAM_REB_AVG'] = away_team_avg_reb

    else:
        current_season = current_season + 1
        team_reb = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_reb = row['REB_home']
        away_team_reb = row['REB_away']

        if home_team_id not in team_reb:
            team_reb[home_team_id] = {'reb': 0, 'num_games': 0}

        if away_team_id not in team_reb:
            team_reb[away_team_id] = {'reb': 0, 'num_games': 0}

            team_reb[home_team_id]['reb'] += home_team_reb
            team_reb[away_team_id]['reb'] += away_team_reb
            team_reb[home_team_id]['num_games'] += 1
            team_reb[away_team_id]['num_games'] += 1

        if team_reb[home_team_id]['num_games'] > 1:
            home_team_avg_reb = (team_reb[home_team_id]['reb'] - home_team_reb) / (team_reb[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_reb = np.nan

        if team_reb[away_team_id]['num_games'] > 1:
            away_team_avg_reb = (team_reb[away_team_id]['reb'] - away_team_reb) / (team_reb[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_reb = np.nan

        games.loc[index, 'HOME_TEAM_REB_AVG'] = home_team_avg_reb
        games.loc[index, 'AWAY_TEAM_REB_AVG'] = away_team_avg_reb

In [8]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_wins = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_wins = row['HOME_TEAM_WINS']
        away_team_wins = abs(row['HOME_TEAM_WINS']-1)

        if home_team_id not in team_wins:
            team_wins[home_team_id] = {'wins': 0, 'num_games': 0}

        if away_team_id not in team_wins:
            team_wins[away_team_id] = {'wins': 0, 'num_games': 0}

        team_wins[home_team_id]['wins'] += home_team_wins
        team_wins[away_team_id]['wins'] += away_team_wins
        team_wins[home_team_id]['num_games'] += 1
        team_wins[away_team_id]['num_games'] += 1

        if team_wins[home_team_id]['num_games'] > 1:
            home_team_avg_wins = (team_wins[home_team_id]['wins'] - home_team_wins) / (team_wins[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_wins = np.nan

        if team_wins[away_team_id]['num_games'] > 1:
            away_team_avg_wins = (team_wins[away_team_id]['wins'] - away_team_wins) / (team_wins[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_wins = np.nan

        games.loc[index, 'HOME_TEAM_WIN_PCT'] = home_team_avg_wins
        games.loc[index, 'AWAY_TEAM_WIN_PCT'] = away_team_avg_wins

    else:
        current_season = row['SEASON']
        team_wins = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_wins = row['HOME_TEAM_WINS']
        away_team_wins = abs(row['HOME_TEAM_WINS']-1)

        if home_team_id not in team_wins:
            team_wins[home_team_id] = {'wins': 0, 'num_games': 0}

        if away_team_id not in team_wins:
            team_wins[away_team_id] = {'wins': 0, 'num_games': 0}

        team_wins[home_team_id]['wins'] += home_team_wins
        team_wins[away_team_id]['wins'] += away_team_wins
        team_wins[home_team_id]['num_games'] += 1
        team_wins[away_team_id]['num_games'] += 1

        if team_wins[home_team_id]['num_games'] > 1:
            home_team_avg_wins = (team_wins[home_team_id]['wins'] - home_team_wins) / (team_wins[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_wins = np.nan

        if team_wins[away_team_id]['num_games'] > 1:
            away_team_avg_wins = (team_wins[away_team_id]['wins'] - away_team_wins) / (team_wins[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_wins = np.nan

        games.loc[index, 'HOME_TEAM_WIN_PCT'] = home_team_avg_wins
        games.loc[index, 'AWAY_TEAM_WIN_PCT'] = away_team_avg_wins

In [9]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_fg = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_fg = row['FG_PCT_home']
        away_team_fg = row['FG_PCT_away']

        if home_team_id not in team_fg:
            team_fg[home_team_id] = {'fg': 0, 'num_games': 0}

        if away_team_id not in team_fg:
            team_fg[away_team_id] = {'fg': 0, 'num_games': 0}

        team_fg[home_team_id]['fg'] += home_team_fg
        team_fg[away_team_id]['fg'] += away_team_fg
        team_fg[home_team_id]['num_games'] += 1
        team_fg[away_team_id]['num_games'] += 1

        if team_fg[home_team_id]['num_games'] > 1:
            home_team_avg_fg = (team_fg[home_team_id]['fg'] - home_team_fg) / (team_fg[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_fg = np.nan

        if team_fg[away_team_id]['num_games'] > 1:
            away_team_avg_fg = (team_fg[away_team_id]['fg'] - away_team_fg) / (team_fg[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_fg = np.nan

        games.loc[index, 'HOME_TEAM_FG_PCT_AVG'] = home_team_avg_fg
        games.loc[index, 'AWAY_TEAM_FG_PCT_AVG'] = away_team_avg_fg

    else:
        current_season = current_season + 1
        team_fg = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_fg = row['FG_PCT_home']
        away_team_fg = row['FG_PCT_away']

        if home_team_id not in team_fg:
            team_fg[home_team_id] = {'fg': 0, 'num_games': 0}

        if away_team_id not in team_fg:
            team_fg[away_team_id] = {'fg': 0, 'num_games': 0}

        team_fg[home_team_id]['fg'] += home_team_fg
        team_fg[away_team_id]['fg'] += away_team_fg
        team_fg[home_team_id]['num_games'] += 1
        team_fg[away_team_id]['num_games'] += 1

        if team_fg[home_team_id]['num_games'] > 1:
            home_team_avg_fg = (team_fg[home_team_id]['fg'] - home_team_fg) / (team_fg[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_fg = np.nan

        if team_fg[away_team_id]['num_games'] > 1:
            away_team_avg_fg = (team_fg[away_team_id]['fg'] - away_team_fg) / (team_fg[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_fg = np.nan

        games.loc[index, 'HOME_TEAM_FG_PCT_AVG'] = home_team_avg_fg
        games.loc[index, 'AWAY_TEAM_FG_PCT_AVG'] = away_team_avg_fg

In [10]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_ft = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_ft = row['FT_PCT_home']
        away_team_ft = row['FT_PCT_away']

        if home_team_id not in team_ft:
            team_ft[home_team_id] = {'ft': 0, 'num_games': 0}

        if away_team_id not in team_ft:
            team_ft[away_team_id] = {'ft': 0, 'num_games': 0}

        team_ft[home_team_id]['ft'] += home_team_ft
        team_ft[away_team_id]['ft'] += away_team_ft
        team_ft[home_team_id]['num_games'] += 1
        team_ft[away_team_id]['num_games'] += 1

        if team_ft[home_team_id]['num_games'] > 1:
            home_team_avg_ft = (team_ft[home_team_id]['ft'] - home_team_ft) / (team_ft[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_ft = np.nan

        if team_ft[away_team_id]['num_games'] > 1:
            away_team_avg_ft = (team_ft[away_team_id]['ft'] - away_team_ft) / (team_ft[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_ft = np.nan

        games.loc[index, 'HOME_TEAM_FT_PCT_AVG'] = home_team_avg_ft
        games.loc[index, 'AWAY_TEAM_FT_PCT_AVG'] = away_team_avg_ft

    else:
        current_season = current_season + 1
        team_ft = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_ft = row['FT_PCT_home']
        away_team_ft = row['FT_PCT_away']

        if home_team_id not in team_ft:
            team_ft[home_team_id] = {'ft': 0, 'num_games': 0}

        if away_team_id not in team_ft:
            team_ft[away_team_id] = {'ft': 0, 'num_games': 0}

        team_ft[home_team_id]['ft'] += home_team_ft
        team_ft[away_team_id]['ft'] += away_team_ft
        team_ft[home_team_id]['num_games'] += 1
        team_ft[away_team_id]['num_games'] += 1

        if team_ft[home_team_id]['num_games'] > 1:
            home_team_avg_ft = (team_ft[home_team_id]['ft'] - home_team_ft) / (team_ft[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_ft = np.nan

        if team_ft[away_team_id]['num_games'] > 1:
            away_team_avg_ft = (team_ft[away_team_id]['ft'] - away_team_ft) / (team_ft[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_ft = np.nan

        games.loc[index, 'HOME_TEAM_FT_PCT_AVG'] = home_team_avg_ft
        games.loc[index, 'AWAY_TEAM_FT_PCT_AVG'] = away_team_avg_ft

In [11]:
games.sort_values('GAME_DATE_EST', inplace=True)

team_fg3 = {}
current_season = 2004

for index, row in games.iterrows():
    if row['SEASON'] == current_season:
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_fg3 = row['FG3_PCT_home']
        away_team_fg3 = row['FG3_PCT_away']

        if home_team_id not in team_fg3:
            team_fg3[home_team_id] = {'fg3': 0, 'num_games': 0}

        if away_team_id not in team_fg3:
            team_fg3[away_team_id] = {'fg3': 0, 'num_games': 0}

        team_fg3[home_team_id]['fg3'] += home_team_fg3
        team_fg3[away_team_id]['fg3'] += away_team_fg3
        team_fg3[home_team_id]['num_games'] += 1
        team_fg3[away_team_id]['num_games'] += 1

        if team_fg3[home_team_id]['num_games'] > 1:
            home_team_avg_fg3 = (team_fg3[home_team_id]['fg3'] - home_team_fg3) / (team_fg3[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_fg3 = np.nan

        if team_fg3[away_team_id]['num_games'] > 1:
            away_team_avg_fg3 = (team_fg3[away_team_id]['fg3'] - away_team_fg3) / (team_fg3[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_fg3 = np.nan

        games.loc[index, 'HOME_TEAM_FG3_PCT_AVG'] = home_team_avg_fg3
        games.loc[index, 'AWAY_TEAM_FG3_PCT_AVG'] = away_team_avg_fg3

    else:
        current_season = current_season + 1
        team_fg3 = {}
        home_team_id = row['HOME_TEAM_ID']
        away_team_id = row['VISITOR_TEAM_ID']
        home_team_fg3 = row['FG3_PCT_home']
        away_team_fg3 = row['FG3_PCT_away']

        if home_team_id not in team_fg3:
            team_fg3[home_team_id] = {'fg3': 0, 'num_games': 0}

        if away_team_id not in team_fg3:
            team_fg3[away_team_id] = {'fg3': 0, 'num_games': 0}

        team_fg3[home_team_id]['fg3'] += home_team_fg3
        team_fg3[away_team_id]['fg3'] += away_team_fg3
        team_fg3[home_team_id]['num_games'] += 1
        team_fg3[away_team_id]['num_games'] += 1

        if team_fg3[home_team_id]['num_games'] > 1:
            home_team_avg_fg3 = (team_fg3[home_team_id]['fg3'] - home_team_fg3) / (team_fg3[home_team_id]['num_games'] - 1)
        else:
            home_team_avg_fg3 = np.nan

        if team_fg3[away_team_id]['num_games'] > 1:
            away_team_avg_fg3 = (team_fg3[away_team_id]['fg3'] - away_team_fg3) / (team_fg3[away_team_id]['num_games'] - 1)
        else:
            away_team_avg_fg3 = np.nan

        games.loc[index, 'HOME_TEAM_FG3_PCT_AVG'] = home_team_avg_fg3
        games.loc[index, 'AWAY_TEAM_FG3_PCT_AVG'] = away_team_avg_fg3

In [12]:
# display(games.tail(545))
display(games.loc[games['GAME_ID'] == 12200001]['HOME_TEAM_PTS_AVG'])

541   NaN
Name: HOME_TEAM_PTS_AVG, dtype: float64

In [13]:
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'HOME_TEAM_PTS_AVG', 'AWAY_TEAM_PTS_AVG',
       'HOME_TEAM_AST_AVG', 'AWAY_TEAM_AST_AVG', 'HOME_TEAM_REB_AVG',
       'AWAY_TEAM_REB_AVG', 'HOME_TEAM_WIN_PCT', 'AWAY_TEAM_WIN_PCT',
       'HOME_TEAM_FG_PCT_AVG', 'AWAY_TEAM_FG_PCT_AVG', 'HOME_TEAM_FT_PCT_AVG',
       'AWAY_TEAM_FT_PCT_AVG', 'HOME_TEAM_FG3_PCT_AVG',
       'AWAY_TEAM_FG3_PCT_AVG'],
      dtype='object')

In [14]:
# NOTE: All differences are based on HOME_VARIABLE - AWAY_VARIABLE = DIFF_VARIABLE

games['DIFF_PTS_AVG'] = games['HOME_TEAM_PTS_AVG'] - games['AWAY_TEAM_PTS_AVG']
games['DIFF_AST_AVG'] = games['HOME_TEAM_AST_AVG'] - games['AWAY_TEAM_AST_AVG']
games['DIFF_REB_AVG'] = games['HOME_TEAM_REB_AVG'] - games['AWAY_TEAM_REB_AVG']
games['DIFF_WIN_PCT'] = games['HOME_TEAM_WIN_PCT'] - games['AWAY_TEAM_WIN_PCT']
games['DIFF_FG_PCT'] = games['HOME_TEAM_FG_PCT_AVG'] - games['AWAY_TEAM_FG_PCT_AVG']
games['DIFF_FT_PCT'] = games['HOME_TEAM_FT_PCT_AVG'] - games['AWAY_TEAM_FT_PCT_AVG']
games['DIFF_FG3_PCT'] = games['HOME_TEAM_FG3_PCT_AVG'] - games['AWAY_TEAM_FG3_PCT_AVG']

In [15]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

#display(games.loc[games['HOME_TEAM_PTS_AVG'].isna()])

In [16]:
games.loc[games.SEASON == 2019].head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AWAY_TEAM_FT_PCT_AVG,HOME_TEAM_FG3_PCT_AVG,AWAY_TEAM_FG3_PCT_AVG,DIFF_PTS_AVG,DIFF_AST_AVG,DIFF_REB_AVG,DIFF_WIN_PCT,DIFF_FG_PCT,DIFF_FT_PCT,DIFF_FG3_PCT
19651,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19650,2019-10-04,11900002,Final,1610612746,1610612745,2019,1610612746,96.0,0.384,0.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19648,2019-10-05,11900006,Final,1610612744,1610612747,2019,1610612744,101.0,0.393,0.769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19649,2019-10-05,11900007,Final,1610612759,1610612753,2019,1610612759,89.0,0.388,0.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19647,2019-10-05,11900005,Final,1610612754,1610612758,2019,1610612754,130.0,0.521,0.944,...,0.778,0.37,0.417,1.0,-4.0,17.0,1.0,0.022,0.01,-0.047

In [17]:
display(games.isna().sum())

GAME_DATE_EST              0
GAME_ID                    0
GAME_STATUS_TEXT           0
HOME_TEAM_ID               0
VISITOR_TEAM_ID            0
SEASON                     0
TEAM_ID_home               0
PTS_home                   0
FG_PCT_home                0
FT_PCT_home                0
FG3_PCT_home               0
AST_home                   0
REB_home                   0
TEAM_ID_away               0
PTS_away                   0
FG_PCT_away                0
FT_PCT_away                0
FG3_PCT_away               0
AST_away                   0
REB_away                   0
HOME_TEAM_WINS             0
HOME_TEAM_PTS_AVG        283
AWAY_TEAM_PTS_AVG        287
HOME_TEAM_AST_AVG        283
AWAY_TEAM_AST_AVG        287
HOME_TEAM_REB_AVG        283
AWAY_TEAM_REB_AVG        287
HOME_TEAM_WIN_PCT        283
AWAY_TEAM_WIN_PCT        287
HOME_TEAM_FG_PCT_AVG     283
AWAY_TEAM_FG_PCT_AVG     287
HOME_TEAM_FT_PCT_AVG     283
AWAY_TEAM_FT_PCT_AVG     287
HOME_TEAM_FG3_PCT_AVG    283
AWAY_TEAM_FG3_PCT_AVG    287
DIFF_PTS_AVG             350
DIFF_AST_AVG             350
DIFF_REB_AVG             350
DIFF_WIN_PCT             350
DIFF_FG_PCT              350
DIFF_FT_PCT              350
DIFF_FG3_PCT             350
dtype: int64

In [18]:
games.to_csv('data/games_data.csv')